.git
.gitignore
.gitattributes

.trae
.vscode
**/.DS_Store

**/*.log
**/*.tmp
**/*.swp
**/*.swo

**/node_modules
**/dist
**/dist-ssr
**/.vite
**/coverage

**/.env
!**/.env.example
!**/.env.sample
!**/.env.template

backend/data
backend/project
backend/dist

frontend/dist
frontend/node_modules
frontend/.vscode
