.git
.gitignore
.gitattributes

.trae
.idea
.vscode
**/.DS_Store

**/*.log
**/*.tmp
**/*.swp
**/*.swo

**/node_modules
**/dist
**/dist-ssr
**/.vite
**/coverage

**/.env
!**/.env.example
!**/.env.sample
!**/.env.template

backend/data/git_sync/templates/
backend/data/uploads
backend/templates.db

frontend/node_modules